.calendar-header {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: start;
  grid-gap: 10px;
}

.calendar-header__title {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}

.calendar-header__arrows {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
}