.calendar-header {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.calendar-header__title {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  margin-left: auto;
}

.calendar-header__arrows {
  display: flex;
  gap: 5px;
}

.calendar-header__today-button {
  margin-right: auto;
}