.modal {
  height: 100%;
}

.modal__trigger {
  height: 100%;
}

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: .2s;
  z-index: -1;
  opacity: 0;
}

.modal__wrapper._open {
  z-index: 10;
  opacity: 1;
}

.modal__wrapper._right {
  padding: 0;
  justify-content: end;
}

.modal__container {
  position: relative;
  background-color: var(--bg-primary);
  border-radius: var(--border-radius);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  transition: .2s;
  transform: scale(.8) translate(0, 10px);
  opacity: 0;
}

.modal__wrapper._open .modal__container {
  transform: scale(1);
  opacity: 1;
}

.modal__wrapper._right .modal__container {
  height: 100%;
  border-radius: 0;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transition: .2s;
}

.modal__close:hover {
  cursor: pointer;
  opacity: .7;
}

.modal__wrapper._right .modal__close {
  top: 20px;
  right: 20px;
  font-size: 25px;
}