.switcher {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--bg-light);
}

.switcher._disabled {
  opacity: 0.5;
  pointer-events: none;
}

.switcher__item {
  user-select: none;
  padding: 5px 20px;
  border-radius: 10px;
  transition: 0.2s;
}

.switcher__item:hover {
  background-color: var(--bg-primary);
  cursor: pointer;
}

.switcher__item._active {
  background-color: var(--bg-primary);
  cursor: default;
}

.switcher__item-title {
  transition: 0.2s;
  color: var(--text-primary);
}
