.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: max-content;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background: var(--bg-secondary);
  transition: .2s;
  font-size: 16px;
  text-align: center;
}

.button:not(:disabled):hover {
  cursor: pointer;
  background-color: var(--bg-secondary-hover);
}

.button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.button._primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.button._primary:not(:disabled):hover {
  background-color: var(--color-primary-hover);
}

.button._danger {
  background-color: var(--bg-danger);
  color: var(--color-white);
}

.button._danger:not(:disabled):hover {
  background-color: var(--bg-danger-hover);
}

.button._full {
  width: 100%;
}

.button__icon {
  line-height: 1;
  color: inherit;
}