.sidebar {
  position: relative;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg-primary);
  border-right: 1px solid var(--border-light);
  transition: width 0.3s ease;
}

.sidebar__toggle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  padding: 10px !important;
}

.sidebar__logo-img {
  height: 40px;
  width: 40px;
}

.sidebar__block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar__footer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-top: 16px;
  border-top: 1px solid var(--color-border);
  margin-top: auto;
}