.input {
  display: grid;
  gap: 5px;
}

.input__label {
  font-size: 14px;
  color: var(--text-secondary);
}

.input__component {
  width: 100%;
  border: 1px solid transparent;
  background-color: var(--bg-light);
  color: var(--text-primary);
  padding: 10px;
  border-radius: var(--border-radius);
  outline: none;
  font-size: 16px;
  transition: 0.2s;
}

.input__component:disabled {
  color: var(--text-secondary);
  cursor: not-allowed;
}

.input__component:not(:disabled):focus,
.input__component:not(:disabled):hover {
  border: 1px solid var(--border-light);
}

.input__component::placeholder {
  color: var(--text-secondary);
}
