.input {
  display: grid;
  gap: 5px;
}

.input__label {
  font-size: 14px;
  color: var(--text-secondary);
}

.input__component {
  width: 100%;
  border: 1px solid transparent;
  background-color: var(--bg-secondary);
  padding: 10px;
  border-radius: var(--border-radius);
  outline: none;
  font-size: 16px;
  transition: .2s;
}

.input__component:focus,
.input__component:hover {
  border: 1px solid var(--color-primary);
}

.input__component::placeholder {
  color: var(--text-secondary);
}