.calendar-column-time {
  padding-right: 20px;
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  border-right: 1px solid var(--border-light);
}

.calendar-column-time__item {
  position: relative;
  margin: 0;
  text-align: right;
  min-height: 50px;
  user-select: none;
}

.calendar-column-time__item::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 1px;
  background-color: var(--border-light);
  margin-left: 10px;
}