:root {
  --color-primary: #457aff;
  --color-primary-hover: #2658d5;

  --bg-primary: #ffffff;
  --bg-secondary: #edf1ff;
  --bg-secondary-hover: #d1dbff;

  --text-primary: #333;
  --text-secondary: #8e94a2;
  --text-contrast: #fff;

  --border-primary: #333;
  --border-light: #ddd;
}