.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-menu__item,
.sidebar-menu__link {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  transition: all 0.2s ease;
  background-color: var(--bg-primary);
  overflow: hidden;
}

.sidebar-menu__link:hover,
.sidebar-menu__link._active {
  background-color: var(--bg-secondary);
}

.sidebar-menu__item {
  color: var(--text-secondary);
}

.sidebar-menu__item::after {
  content: 'Скоро';
  display: block;
  background-color: var(--bg-secondary);
  color: var(-- text-primary);
  padding: 5px;
  font-size: 14px;
  border-radius: 10px;
  transition: all 0.2s ease;
  margin-left: 10px;
}

.sidebar-menu__text {
  color: inherit;
}

.sidebar-menu__icon {
  color: inherit;
  margin-right: 12px;
  font-size: 18px;
}