.task-card {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  background-color: var(--bg-secondary);
  border-radius: 8px;
  padding: 14px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.task-card:hover {
  background-color: var(--bg-secondary-hover);
}

.task-card__title {
  color: var(--text-primary);
  font-size: 16px;
  line-height: 1.4;
  word-break: break-word;
  flex-grow: 1;
  margin-right: 8px;
}

.task-card__details {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 6px;
}

.task-card__time {
  display: inline-block;
  font-size: 14px;
  color: var(--text-secondary);
}

.task-card__project {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
}