.task-card {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  background-color: var(--bg-secondary);
  border-radius: 8px;
  padding: 14px;
  transition: background-color 0.2s;
}

.task-card:hover {
  cursor: pointer;
  background-color: var(--bg-secondary-hover);
}

.task-card__title {
  color: var(--text-primary);
  font-size: 16px;
  line-height: 1.4;
  /* stylelint-disable */
  word-break: break-word;
  /* stylelint-enable */
  flex-grow: 1;
  margin-right: 8px;
}

.task-card__details {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 6px;
}

.task-card__detail {
  display: inline-block;
  font-size: 14px;
  color: var(--text-secondary);
}

.task-card__skeleton {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  background-color: var(--bg-light);
  border-radius: 8px;
  padding: 14px;
}

.task-card__skeleton-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: var(--bg-primary);
  animation: pulse 1s infinite ease-in-out;
}

.task-card__skeleton-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.task-card__skeleton-title {
  max-width: 200px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--bg-primary);
  animation: pulse 1s infinite ease-in-out;
}

.task-card__skeleton-details {
  display: flex;
  gap: 10px;
  align-items: center;
}

.task-card__skeleton-detail {
  max-width: 50px;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: var(--bg-primary);
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}
