.project-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-list__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

