.dialog {
  position: relative;
}

.dialog__trigger {
  cursor: pointer;
}

.dialog__container {
  position: absolute;
  top: calc(100% + 5px);
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg-primary);
  box-shadow: 0 0 10px var(--shadow-secondary);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  transform: translateY(-10px) scale(0.9);
}

.dialog__container._open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
}

.dialog__container._left {
  left: 0;
}

.dialog__container._center {
  left: 50%;
  transform: translateX(-50%);
}

.dialog__container._right {
  right: 0;
}
