.add-task-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
  border-radius: 10px;
  cursor: pointer;
}

.add-task-wrapper._shadow {
  background-color: var(--bg-secondary-hover);
}