.drag-task__droppable {
  height: 100%;
  position: relative;
}

.drag-task__droppable._active {
  border-radius: 10px;
  background-color: var(--bg-secondary-hover);
}

.drag-task__shadow {
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background-color: var(--bg-secondary-hover);
  z-index: 0;
}